.container {
    width: 95%;
    margin: 2% auto;
}


/* ORDER */

.order {
    float: left;
    width: 30%;
}

.total {
    text-align: center;
}

/* MENU */

.menu {
    display: inline-block;
    width: 60%;
}









